= simple_form_for [@company, @project] do |f|
  = f.input :name, label: "Название проекта"
  = f.input :description, label: "Опишите суть проекта"
  = f.input :cpu, label: "Процессор", collection: [1,2,4,8], as: :radio_buttons
  = f.input :ram, label: "Оперативная память", collection: ['1024 Mb','2048 Mb','4096 Mb'], as: :radio_buttons
  = f.input :hdd, label: "Жёсткий диск", collection: ['50 Gb','100 Gb','300 Gb','500 Gb','1000 Gb'], as: :radio_buttons
  = f.button :submit, label: "Подать заявку", class: "btn btn-success"
