= simple_form_for @company, html: {multipart: true} do |f|
  = f.file_field :image, label: "Логотип"
  = f.input :name, lable: "Название"
  = f.input :description, lable: "Описание"
  = f.button :submit, lable: "Создать", class: "btn btn-success"
