%p#notice= notice
%p
%strong logo:
%br
= image_tag @company.image_url(:thumb).to_s
%br
%strong Name:
%br
= @company.name
%p
%strong Description:
%br
= @company.description
%br
%br
- if CompanyUser.where(user_id: current_user.id, company_id: @company.id).blank?
  = button_to "Вступить в организацию", companies_path(company_id: @company), class: "btn btn-success"

- if CompanyUser.where(user_id: current_user.id, company_id: @company.id, owner: false).present?
  = link_to "Создать проект", new_company_project_path(@company), class: "btn btn-warning"
  = link_to "Ваши проекты", company_projects_path(@company), class: "btn btn-success"

- if CompanyUser.where(user_id: current_user.id, company_id: @company.id, owner: true).present?
  %table.table.table-bordered
    %thead
      %tr
        %th= sort_link @search, :name, "Список проектов"
        %th CPU
        %th RAM
        %th HDD
        %th= sort_link @search, :aasm_state, "State"
        %th{:colspan => "3"}
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= project.cpu
          %td= project.ram
          %td= project.hdd
          = simple_form_for [@company, project] do |f|
            %td= f.input :aasm_state, label: false, collection: ['unconfirmed','confirmed','canceled']
            %td= f.button :submit, "подтвердить статус"
          %td= link_to 'Show', company_project_path(@company, project)
          - if can? :destroy, project
            %td= link_to 'Destroy', company_project_path(@company, project), method: :delete, data: { confirm: 'Are you sure?' }
%br
- if CompanyUser.where(user_id: current_user.id, company_id: @company.id, owner: true).present?
  = link_to 'Edit', edit_company_path(@company), class: "btn btn-default"
  |
\#{link_to 'Back', companies_path, class: "btn btn-default"}

%br
= will_paginate @projects, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0